.clicked-button {
    background-color: #4c005f !important;
    color: white;
}
.clicked-button:hover {
    background-color: #4c005f !important;
    color: white;
}

button:disabled,button[disabled]{
    opacity: 0.8;
    cursor:not-allowed !important;
  }


.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.spinner-container {
    display: none;
    vertical-align: middle;
    margin-left: 5px;
    color: black;
}