.clicked-button {
    background-color: #4c005f;
    color: white;
}
.clicked-button:hover {
    background-color: #7a0098;
    color: white;
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.spinner-container {
    display: none;
    vertical-align: middle;
    margin-left: 5px;
    color: black;
}