<!DOCTYPE html>
<html>
<head>
    <title>Auto Save</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>You have reached the api token limit. Compressing campaign & reloading...</h1>
    <p>Please wait. This might take a while.</p>
    <script>
        // Send an AJAX POST request to the Flask app to auto save the campaign
        $.ajax({
            url: '{{ url_for("auto_save_campaign") }}',
            method: 'POST',
            data: {},
            dataType: 'json',
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            },
            success: function(response) {
                if (response.status === 'success') {
                    window.location.href = '{{ url_for("play") }}';
                } else {
                    window.location.href = '{{ url_for("play") }}';
                }
            },
            error: function() {
                alert('Error saving the campaign. Please try again.');
                window.location.href = '{{ url_for("play") }}';
            }
        });
    </script>
</body>
</html>